@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
    scroll-behavior: smooth;
}

html {
    --scrollbar-width: 12px;
    --gray-color: #aaaaaa;
    // --gray-color: rgba(0, 0, 0, .5);
    --scrollbar-color: rgba(0, 0, 0, 0.5);
    --graphite-color: #222222;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) #ffffff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

body {
    overflow: scroll;
}
#queueContainer {
    background-color: white;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
    .queue {
        min-width: 250px;
        flex: 1;
        margin: 1.5rem 0.5rem;
        background-color: var(--gray-color);
        border-radius: 5px;
        padding: 1rem 0.5rem;
        box-shadow: 2px 2px 5px var(--gray-color);
        .queueTitle {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .draggingContainer {
        }
    }
}
.element {
    background-color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--gray-color);
    .elementTitle {
        font-size: 1.2rem;

        font-weight: 500;
        margin-bottom: 0.5rem;
        .elementBody {
        }
    }
}
.element.dragging {
    opacity: 0.8 !important;
}
